.app-container {
  min-height: 100vh;
}
.main-content {
  flex: 1;
  /* padding-top: 70px; */
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}
.footer{
  padding: 70px;
}


