#root {
  max-width: 1280px;
}

.container-fluid {
  width: 100vw;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}
.row {
  display: flex;
  justify-content: space-between;
}

.cl-6 {
  width: 50%;
}

.cl-6:first-child {
  order: 2;
}

.image {
  max-width: 500px;
  height: auto;
  margin-left: 300px;
}

